@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-link.active {
    font-weight: bold;
    color: #007bff;
}

/* CSS untuk menghilangkan spinner pada input number */
input[type="number"].number::-webkit-outer-spin-button,
input[type="number"].number::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"].number {
    -moz-appearance: textfield;
    appearance: textfield;
}

.section {
    display: none;
}

.on {
    background-color: #4b5563; /* Tambahkan warna untuk tombol yang aktif */
    color: white;
}
